{% extends 'header.html' %}

{% block content %}
<div class="container mt-3 bg-light rounded border" style="padding-bottom: 35px">
	<h1>Acerca</h1>

	<div>
		<div class="accordion" id="accordionExample">
			<section class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Creditos
						</button>
					</h2>
				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">
						Andres Octavio Barroso  y Alejandro Bonavita , estudiantes de la Tecnicautura Universitaria en Software Libre de la Universidad del Litoral.</div>
				</div>
			</section>


			<section class="card">
				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Licencia
						</button>
					</h2>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
					<div class="card-body">
						El software es licenciado bajo los términos de la Licencia Pública General de GNU versión 3 (GPLv3).<a href="https://gitlab.com/andresbebe/Stegopy/blob/master/License.txt"> Ver </a>
					</div>
				</div>
			</section>
			<section class="card">
				<div class="card-header" id="headingThree">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Software
						</button>
					</h2>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
					<div class="card-body">
						Version 1.0.      
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}
