{% extends 'header.html' %}

{% block content %}
<div class="container mt-3 bg-light rounded border" style="padding-bottom: 35px">
	<h1>Ayuda</h1>
	<div>
		<div class="accordion" id="accordionExample">
			<section class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							¿Que hace este programa?
						</button>
					</h2>
				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">
						Stegopy es una herramienta de esteganografía escrita en Python 3.
						Implementa técnicas del dominio espacial (LSB, último bit significativo)  y del dominio de frecuencias (DCT, transformada directa del coseno).
						En el caso de LSB oculta un mensaje almacenado en un archivo de texto dentro de una imagen en formato png.
						En el caso de DCT, se oculta una frase secreta ingresada desde consola o via web en una imagen de formato jpeg o jpeg2000.
						A grandes rasgos, LSB es una técnica poco resistente al estegoanálisis pero con buena capacidad de ocultación.
						Por ejemplo, una imagen de unos 2MiB de tamaño en formato png puede ocultar un archivo de varias decenas de KiB.
						En contraste, DCT es una técnica bastante resistente al estegoanálisis pero posee una capacidad de ocultación bastante pobre.
						Si tomamos la misma imagen anterior de ejemplo, solamente podrá ocultar 3 o 4 centenas de caracteres.      </div>
				</div>
			</section>
			<section class="card">
				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							¿Como ocultar con LSB? ¿Como genero las llaves?
						</button>
					</h2>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
					<div class="card-body">
						Para ocultar una imagen con LSB es necesario primero generar las llaves (Llave publica y Llave Privada.
						Una vez generadas , se ingresa al menu Imagen y al item "Ocultar texto con LSB" y ahi ingresamos los 3 archivos:
						<br>
						<ol type="1">
							<li>Llave Publica (Archivo de formato .PEM)</li>
							<li>Imagen (Archivo de formato .PNG)</li>
							<li>Texto (Archivo de formato .TXT)</li>
						</ol>
					</div>
				</div>
			</section>
			<section class="card">
				<div class="card-header" id="headingThree">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							¿Como extraer con LSB?
						</button>
					</h2>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
					<div class="card-body">
						Para extraer una imagen con LSB se debe ingresar:
						La llave Privada que se utilizo con la cual se oculto  la imagen
						la Clave RSA  y  la imagen:
						<br>
						<ol type="1">
							<li>Llave Privada (Archivo de formato .PEM)</li>
							<li>Clave RSA (Archivo de formato .KEY)</li>
							<li>Imagen (Archivo de formato .PNG)</li>
						</ol>      
					</div>
				</div>
			</section>
			<section class="card">
				<div class="card-header" id="headingfour">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
							¿Como ocultar con DCT?
						</button>
					</h2>
				</div>
				<div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
					<div class="card-body">
						Para ocultar el texto con DCT se debe ingresar la imagen y el texto:
						<br>
						<ol type="1">
							<li>Imagen (Archivo de formato .JPEG)</li>
							<li>Texto (Archivo de formato .TXT)</li>
						</ol>

					</div>
				</div>
			</section>

			<section class="card">
				<div class="card-header" id="headingfive">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
							¿Como extraer con DCT?
						</button>
					</h2>
				</div>
				<div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
					<div class="card-body">
						Para ocultar el texto con DCT se debe ingresar la imagen:
						<br>
						<ol type="1">
							<li>Imagen (Archivo de formato .JP2)</li>
						</ol>      
					</div>
				</div>
			</section>				
		</div>
	</div>
</div>
{% endblock %}
