{% extends 'header.html' %}

{% block content %}


<div class="container mt-3 bg-light rounded border" style="padding-bottom: 35px">

	<h1>Extraer texto</h1>

	<form method="POST" action="/extraer_lsb" enctype="multipart/form-data">

		<div class="custom-file mt-xl-2">

			<input type="file" name="llave_privada" class="custom-file-input" id="file-1">
			<label class="custom-file-label" for="file-1">llave_privada.pem</label>

		</div>

		<div class="custom-file mt-xl-2">

			<label class="custom-file-label" for="file-2">llave_aes.key</label>
			<input type="file" name="clave_aes" class="custom-file-input" id="file-2">

		</div>

		<div class="custom-file mt-xl-2">

			<label class="custom-file-label" for="file-3">imagen.png</label>
			<input type="file" name="imagen" class="custom-file-input" id="file-3">
		</div>

		<div class="alert alert-warning" role="alert">
			<strong>{{estado}}</strong>
		</div>

		<div class="mt-xl-5">
			<input type="submit" class="btn btn-secondary" value=Cargar>
		</div>


	</form>

</div>
<script type="text/javascript" src="{{url_for('static', filename='js/filename-js.js')}}"></script>

{% endblock %}
