{% extends 'header.html' %}

{% block content %}
<div class="container mt-3 bg-light rounded border" style="padding-bottom: 35px">
	<h1>Preguntas frecuentes</h1>
	<div>
		<div class="accordion" id="accordionExample">
			<section class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							¿Que es la Esteganografia y que hace esta herramienta?
						</button>
					</h2>
				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">
						<p>La <b>esteganografía</b> (del griego στεγανος steganos, "cubierto" u "oculto", y γραφος graphos, "escritura") trata el estudio y aplicación de técnicas que permiten ocultar mensajes u objetos, dentro de otros, llamados portadores, para ser enviados y de modo que no se perciba el hecho. Es decir, procura ocultar mensajes dentro de otros objetos y de esta forma establecer un canal encubierto de comunicación, de modo que el propio acto de la comunicación pase inadvertido para observadores que tienen acceso a ese canal.
						En el caso de <b>LSB</b> oculta un mensaje almacenado en un archivo de texto dentro de una imagen en formato png. En el caso de <b>DCT</b>, se oculta una frase secreta ingresada desde consola en una imagen de formato jpeg o jpeg2000.</p>    
					</div>
				</div>
                </section>

				<section class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								¿Que es la tecnica LSB y DCT?¿En que consiste su aplicacion en la Esteganografia?
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<p>En computación, el bit menos significativo (LSB o Least Significant Bit, en sus siglas en inglés) es la posición de bit en un número binario que tiene el menor   valor (el situado más a la derecha). En ocasiones, se hace referencia al LSB como el bit del extremo derecho.La tecnica LSB aplicada en imagenes (de tipo secuencial) es un proceso de sustitucion que permite modificar el bit menos significativo de la codificacion de cada pixel de una imagen por el bit del mensaje a ocultar.
							Se realiza una sustitucion de forma secuencial de los bits en la codificacion de los pixeles en una imagen, una vez conocidos los pixeles que se van a cambiar y su codificacion en binario , se extrae el bit menos significativo(el de mas a la derecha) de cada pixel y se compara bit a bit con el mensaje a ocultar que previamente se paso a binario.Si se detecta una diferencia el bit menos significativo de ese pixel se modifica.Si es un bit 0 se convierte a un bit 1 y si es un bit 1 a un bit 0.</p> 
							<p>DCT transformada discreta de coseno (Discrete Cosine Transform) , la misma usa tecnica matematica de las transformadas.Siendo esta una variante de la transformada de Fourier.
							Esta tecnica se utiliza para realizar la compresion en imagenes de tipo JPG.Se toman conjuntos de 64 bits 8x8  y se saca un valor representativo de todos ellos.A este valor se le aplica la transformada para para cada valor , y la inversa recupera los bits.</p>

						</div>
					</div>
				</section>

				<section class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								¿En que difieren ambas tecnicas?¿Cual es mas segura?
							</button>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							La tecnica LSB es menos resistente al estegoanalisis mas que todo , ademas de que esta mas estudidada. Aunque una de las ventajas es que puede albergar mucha informacion.En cambio DCT es mas robusta al estegoanalisis , siendo mas dificil de detectar pero se pueden albergar unas pocas palabras.
						</div>
					</div>
				</section>

				<section class="card">
					<div class="card-header" id="headingfour">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
								¿El contenido se cifra?
							</button>
						</h2>
					</div>
					<div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							Al aplicar LSB sabiendo que es detectable al estegoanalisis , en el programa lo combinamos generando una clave AES cifrando el mensaje y luego cifrandola con una clave publica RSA del receptor.
						</div>
					</div>
				</section>

				<section class="card">
					<div class="card-header" id="headingfive">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
								¿Que formatos se encuentran soportados?
							</button>
						</h2>
					</div>
					<div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
						<div class="card-body">
							Los formatos de imagen que se encuentran soportados en LSB es el PNG mientras que en DCT es el Jpeg2000.       
						</div>
					</div>
				</section>
		</div>
	</div>
	{% endblock %}
