{% extends 'header.html' %}

{% block content %}

<div class="container mt-3 bg-light rounded border" style="padding-bottom: 35px">

	<h1>Generar par de llaves</h1>

	<form method="POST" action="/generar_par_llaves" enctype="multipart/form-data">
		<input type="submit" value=Generar class="btn btn-secondary">
	</form>

</div>
{% endblock %}
