<!DOCTYPE html>
<html lang="es-AR">
	<head>
        <title>Stegopy </title>

        <meta charset="UTF-8">
        <meta name="description" content="Stegopy es una herramienta de esteganografía escrita en Python 3. Implementa técnicas del... ">
        <meta name="keywords" content=""esteganografía>
        <meta name="author" content="Andres Octavio Barroso y Alejandro Bonavita">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>

        <script src="static/js/jquery-3.4.1.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/inputs_js.js"></script>
        <script src="static/js/filename-js.js"></script>

	</head>
	<body>
		<nav class="navbar navbar-expand-sm   navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="https://gitlab.com/andresbebe/Stegopy"><img src="/static/img/logo3mod.png" style="max-width:150px" alt="">
			</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
					<li class="nav-item dropdown dmenu">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Imagen
						</a>
						<div class="dropdown-menu sm-menu">
							<a class="dropdown-item" href="/ocultar_texto_lsb">Ocultar Texto LSB</a>
							<a class="dropdown-item" href="/ocultar_texto_dct">Ocultar Texto DCT</a>
							<a class="dropdown-item" href="/extraer_texto_lsb">Extraer Texto LSB</a>
							<a class="dropdown-item" href="/extraer_texto_dct">Extraer Texto DCT</a>
						</div>
					</li>
					<li class="nav-item dropdown dmenu">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Cifrado</a>
						<div class="dropdown-menu sm-menu">
							<a class="dropdown-item" href="/generar_llaves">Generar Llaves</a>
						</div>
					</li>
					<li class="nav-item dropdown dmenu">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ayuda</a>
						<div class="dropdown-menu sm-menu">
							<a class="dropdown-item" href="/ayuda">Ayuda</a>
							<a class="dropdown-item" href="/faq">Preguntas Frecuentes</a>
							<a class="dropdown-item" href="/acerca">Acerca</a>


						</div>
					</li>
				</ul>
			</div>
		</nav>
		{% block content %}

		{% endblock %}
	</body>
</html>
