{% extends 'header.html' %}

{% block content %}

<div class="container mt-3 bg-light rounded border" style="padding-bottom: 20px">

	<h1>Ocultar texto</h1>

	<form method="POST" action="/ocultar_dct" enctype="multipart/form-data">

		<div class="custom-file mt-xl-2">

			<label class="custom-file-label" for="file-1">imagen.jpg</label>
			<input type="file" name="imagen" class="custom-file-input" id="file-1">

		</div>

		<div class="custom-file mt-xl-2">

			<label class="custom-file-label" for="file-2">texto.txt</label>
			<input type="file" name="texto" class="custom-file-input" id="file-2">

		</div>

		<div class="alert alert-warning" role="alert">
			<strong>{{estado}}</strong>
		</div>


		<div class="mt-xl-5">
			<input type="submit" class="btn btn-secondary" value=Cargar>
		</div>


	</form>

</div>
<script type="text/javascript" src="{{url_for('static', filename='js/filename-js.js')}}"></script>

{% endblock %}
